$rowMarginTop: 30px;
$rowMarginBottom: 10px;

.row {
    margin-top: $rowMarginTop;
}

.art {
    composes: art from "./elements/Grid.scss";
}

.art:hover {
    cursor: initial;
}

.play {
    composes: play from "./Songs.scss";
}

@media (max-width: 767px) {
    .nameRow h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .artRow p,
    .artRow img {
        margin: 0;
    }

    .nameRow,
    .artRow {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: $rowMarginBottom;
    }

    .songs {
        composes: songs from "./Songs.scss";
    }
}
