/**
 * Styles for Artist component.
 */

/** Variables */
$artMarginBottom: 10px;

.name > h1 {
    margin-bottom: 0;
}

.name > hr {
    margin-top: 0.5em;  /* Default value. */
}

.art {
    display: inline-block;
    margin-bottom: $artMarginBottom;
    width: 75%;
    height: auto;

    /* doiuse-disable viewport-units */

    max-width: 25vw;

    /* doiuse-enable viewport-units */
}

.art:hover {
    transform: scale(1.1);
}
