/**
 * Style for Discover component.
 */

// TODO: Fix this style

.noMarginTop {
    margin-top: 0;
}

.h2Title {
    border: none;
    font-size: $font-size-h2;
    padding: 0;
    line-height: 1em;
}

.h2Title:active,
.h2Title:hover,
.h2Title:focus {
    background-color: transparent;
}

.caret {
    display: inline-block;
    margin-top: 1em;
}

.h2Title .caret {
    margin-left: 3px;
}

.dashedUnderline {
    border-bottom: 1px dotted black;
}

.dashedUnderline,
.caret {
    /* Fix for alignment of caret and border-bottom */
    display: inline-block;
    float: left;
}

.dropdown-menu {
    left: 0;
    right: 0;
    min-width: 0;
}
