/**
 * Style for Songs component.
 */
.play,
.playNext {
    background-color: transparent;
    border: none;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
}

@media (max-width: 767px) {
    .songs {
        > thead,
        > tbody,
        > tfoot {
            > tr {
                > th,
                > td {
                    padding: $table-condensed-cell-padding;
                }
            }
        }
    }
}
