{
    "extends": "stylelint-config-standard",
    "rules": {
        "indentation": 4,
        "selector-pseudo-class-no-unknown": [true, {
            ignorePseudoClasses: ["global"]
        }],
        "no-unsupported-browser-features": [true, {
            browsers: "ie >= 9, > 1%, last 3 versions, not op_mini all"
        }]
    },
    "defaultSeverity": "error"
}
