/**
 * Styles for the FilterBar component.
 */

/** Variables */
$marginBottom: 34px;

.filter {
    margin-bottom: $marginBottom;
}

.legend {
    text-align: right;
    line-height: $marginBottom;
}

@media (max-width: 767px) {
    .legend {
        text-align: center;
    }
}

@media (min-width: 767px) {
    .form-group {
        width: 75%;
    }
}
